<head>
<body>
    <h1>Rooms#show</h1>
    <table>    
    <tr>
        <td><h1>Time</h1></td>
        <td><h1 id="times">5</h1></td>
    </tr>
    </table>
<div id="messages">
    <!--%= render @messages %-->
</div>
<label>message:</label>
<input type="text" data-behavior='room_speaker'>
<form name="timer">
<input type="button" name='btn' value="start" data-behavior='room_timer'>
<//form>
</body>

<p>Find me in app/views/rooms/show.html.erb</p>:
