<h1>Rooms#show</h1>

<div id="messages">
    <%= render @messages %>
    <% @temp.each do |temp| %>
        <%= temp.content %>
        <%= temp.created_at %>
    <% end %>
</div>
<label>message:</label>
<input type="text" data-behavior='room_speaker'>
<input type="button" value="start" onclick="location.reload();">

<%= @time %>

<p>Find me in app/views/rooms/show.html.erb</p>:
