<h1>Rooms#show</h1>

<div id="messages">
    <%= render @messages %>
</div>

<form>
    <label> message: </label><br>
    <input type="text" data-behavior="room_speaker">
</form>

<p>Find me in app/views/rooms/show.html.erb</p>
